<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create User</title>
</head>
<body>
<h2>Create User</h2>
<form action="/users" method="post" th:object="${user}">
    <div>
        <label for="name">Name</label>
        <input type="text" id="name" name="name" th:field="*{name}">
    </div>

    <div>
        <label for="username">Username</label>
        <input type="text" id="username" name="username" th:field="*{username}">
    </div>

    <div>
        <label for="email">Email</label>
        <input type="text" id="email" name="email" th:field="*{email}">
    </div>

    <div>
        <button type="submit">Create User</button>
    </div>
</form>
</body>
</html>